body {
    background-color: black;
    
}
h1 {
    color: black;
    font-size: 2rem;
    padding: 10px;
    align-content: center;
}
p {
    font-size: 1.2rem;
    padding: 20px;
    padding-left: 10px;
    padding-top: 70px;
    
}
.main-box {
    width: 100px;
    padding: 20px;
}    
.head {
    background-color: plum;
    border-radius: 4px;
    padding-right: 80px;
    position: relative;
    left: 50px;
    top: 70px;
    width: 250px;
    text-align: center;
    
}
.white {
    background-color: whitesmoke;
    height: 300px;
    padding-left: 30px;
    padding-right: 50px;
    width: 380px;
    align-content: center;
    line-height: 1.5;
    border-radius: 6px;
}